<% if (messages.length > 0) { %>
    <div class="flash-messages">
      <% messages.forEach(function(message) { %>
        <div class="flash-message alert alert-<%= message.type %>">
          <%= message.text %>
        </div>
      <% }); %>
    </div>
  <% } %>
  